@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype-variations');
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

:root {
    font-size: 16px;
    letter-spacing: 0;
    --green: #c4f82a;
    --grey-950: #141414;
    --grey-700: #1f1f1f;
    --grey-500: #333333;
    --grey-100: #f0f0f0;
    --white: #ffffff;


    --text-preset-1: 700 24px/1 'Inter', sans-serif;
    --text-preset-2: 600 14px/1 'Inter', sans-serif;
    --text-preset-3: 400 14px/1 'Inter', sans-serif;

}

.body {
    background: var(--grey-950);
}

.main {
    padding-block: 5vh;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.user-card {
    width: 90%;
    max-width: 400px;
    background: var(--grey-700);
    padding: min(7vw, 40px);
    border-radius: 16px;
    text-align: center;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--white);
}

.user-card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.user-card__picture {
    height: 80px;
    aspect-ratio: 1/1;
    clip-path: circle(50%);
    overflow: hidden;
}

.user-card__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-card__details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-card__name {
    font: var(--text-preset-1);
}

.user-card__location {
    font: var(--text-preset-2);
    color: var(--green);
}

.user-card__occupation {
    font: var(--text-preset-3);
    color: var(--grey-100);
}

.user-card__links {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-card__btn {
    display: block;
    background-color: var(--grey-500);
    font: var(--text-preset-2);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    transition: color .25s ease, background-color .25s ease;
}

.user-card__btn:hover {
    background-color: var(--green);
    color: var(--grey-700);
}

